@{
    ViewData["Title"] = "Add / Edit Coffee Bean";
}

@model csharp_web_app.Models.CoffeeBeans
<div class="text-center">
    <h1 class="display-4">Add or Edit Coffee Bean</h1>
</div>

<form asp-action="AddEditCoffeeBeanForm">
    <label>Id</label>
    <input class="form-control" type="number" placeholder="0" asp-for="Id"/>
    <label>Roaster's Name</label>
    <input class="form-control" type="text" placeholder="Enter Roasters name" asp-for="RoasterName"/>
    <label>Coffee Name</label>
    <input class="form-control" type="text" placeholder="Enter Coffee Name" asp-for="CoffeeName"/>
    <label>Grind Type</label>
    <input class="form-control" type="text" placeholder="Enter Grind of coffee" asp-for="GrindType"/>
    <label>Flavour Notes</label>
    <input class="form-control" type="text" placeholder="Enter Flavour notes" asp-for="FlavourNotes"/>
    <label>Process</label>
    <input class="form-control" type="text" placeholder="Enter Process method" asp-for="Process"/>
    
    <button class="btn btn-primary" type="submit">ok</button>
</form>