@{
    ViewData["Title"] = "Coffee Beans";
}

<div class="text-center">
    <h1 class="display-4">Coffee Beans</h1>
    <a asp-action="AddEditCoffeeBean" class="btn btn-primary">Add/Edit Coffee Bean</a> 
</div>